/* ======================
        banner
======================== */
.banner-container{
 background-image: linear-gradient(rgba(39, 40, 65, 0.6), rgba(39, 40, 65, 0.6)), url("https://i.ibb.co/Lz5XqHL/travel-banner.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

/* ======================
        packeges
======================== */
.packeges{
 background-image: linear-gradient(rgba(99, 102, 241, 0.8), rgba(99, 101, 241, 0.8)), url("https://i.ibb.co/qyQWZ0Q/sorishaful.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
